option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    MAX_WORKERS: 2
    MEMORY_LIMIT_MB: 4096
    FONT_PATH: /var/app/current/fonts
  aws:elasticbeanstalk:command:
    Timeout: 1800
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    HealthyThresholdCount: 2
    HealthCheckTimeout: 30
    HealthCheckInterval: 30
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium